header {
  padding: 0 20px;
}

.come-home-logo {
  vertical-align: sub;
  width: 30px;
  height: 30px;
}

.title {
  display: inline-block;
  text-align: center;
  margin: 15px 0;
  color: cadetblue;
}