<main>
  <%= image_tag('https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2144425124,467518037&fm=27&gp=0.jpg', class: 'page-image') %>
  <h2><%= @animal.name %></h2>
  <section>
    <%= @animal.description %>
  </section>
</main>