<section class='cover'>封面</section>

<hr/>

<main>
  <section class='animal-container'>
    <ul class='animal-list'>
      <% @all_animal.each do |animal| %>
        <li>
          <a class='animal-item' href="/animals/<%= animal.slug %>" style = "background-image: url(<%= animal.media.first.try(:url) || 'http://p4wgbyuaw.bkt.clouddn.com/default_avatar.jpg' %>)">
            <div><%= animal.name %></div>
          </a>
        </li>
      <% end %>
    </ul>
  </section>
</main>